<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CustomerAppComplete</display-name>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>comm.example.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListCustomerController</servlet-name>
  	<display-name>ListCustomerController</display-name>
  	<description></description>
  	<servlet-class>comm.example.controller.ListCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveCustomer</servlet-name>
  	<display-name>SaveCustomer</display-name>
  	<description></description>
  	<servlet-class>comm.example.controller.SaveCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>comm.example.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<display-name>UpdateCustomer</display-name>
  	<description></description>
  	<servlet-class>comm.example.controller.UpdateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>comm.example.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListCustomerController</servlet-name>
  	<url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveCustomer</servlet-name>
  	<url-pattern>/saveCustomer.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/search.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<url-pattern>/updateCustomer.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/update.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>

   
  </welcome-file-list>
</web-app>