<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- 	<bean id="fortuneService" -->
<!-- 		class="com.mycompany.Spring_dependency_injection.beans.BadLuckService" -->
<!-- 		scope="singleton"></bean> -->
<!-- 	<bean id="theCoach" -->
<!-- 		class="com.mycompany.Spring_dependency_injection.beans.BaseBallCoach"> -->
<!-- 		<constructor-arg name="fortune" ref="fortuneService"></constructor-arg> -->
<!-- 	</bean>  -->
	<bean id="fortuneService"
		class="com.mycompany.Spring_dependency_injection.beans.FortuneService"
		scope="singleton"/>
		<bean id="theCoach"
		class="com.mycompany.Spring_dependency_injection.beans.CricketCoach">
		<property name="fortune" ref="fortuneService"></property>
		<property name="email" value="${foo.email}"></property>
		<property name="teamName" value="${foo.teamName}"></property>
		</bean> 
		
		<context:property-placeholder location="classpath:sport.properties"/>
</beans>
